html {
   font-family: sans-serif;
}
div.container {
    max-width: 1100px;
    margin: 20px auto 20px auto;
}
    
div.wrapper {
    background-color: #fff;
    width: 100%;
}

div.header {
    width: 690px 167px;
}
div.welcome {
    box-sizing: border-box;
    float: left;
    max-width: 50%;
    min-height: 120px;
    padding-right: 30px;
}
p.intro {
    color: #aaa;
    font-size: 18px;
    display: block;
}
ul.links{
    box-sizing: border-box;
    float: right;
    max-width: 50%;
    padding-left: 30px;
    display: block;
    width: 345px 60px;
    font-size: 30px;
    font-weight: 400;
}   
    
body {
   margin: 0px;
   background: white;
}

h1 {
   margin: 0px auto 0px auto;
   text-align: left;
   color: red;
   padding: 20px
}
/*welcome..*/
h2 {
   padding-bottom: 60px;
   margin: 20px auto 20px auto;
   font-weight: normal;
}

p {
   padding: 10px;
   margin: 10px auto 10px auto;
   
}

li {
   display: block;
   margin: 10px;
   align: center;
}

blockquote {
   clip: rect(auto,auto,auto,auto);
   margin-left: 4%;
   line-height: 150%;
   margin-right: 1%;
   padding-top: 5px;
   padding-bottom: 20px;
}


p.quote {
   padding-top: 50px;
   padding-bottom: 50px;
}

p.bagel {
   border-top: 1px solid #665544;
   padding-bottom: 160px;
   border-bottom: 1px solid #665544;
}
p.circus {
   padding-bottom: 160px;
   border-bottom: 1px solid #665544;
}
a {
  color:blue; background:white;
  transition:color .2s ease-out, background 1s ease-in;
}
a:link {
    color: red;
    text-decoration: none;
}
p.about {
    background-color:#e1e3e4;
}
a:hover {
    color: grey; 
}
img.medium {
   width: 250px;
   margin: 10px;
}
.img-circle {
    border-radius: 50%
}
img.align-left{
    float: left;
    margin-right: 10px;
}
img.align-right {
    float: right;
    margin-left: 10px;
}