html {
   font-family: sans-serif;
}
div.container {
    max-width: 900px;
    margin: 20px auto 20px auto;
    background-color: #B4B6BF;
}
    
header , section, footer, aside, nav, figure, figcaption {
   display: block;
  }

body {
   margin: 0px;
}
h1 {
   margin: 20px auto 20px auto;
   text-align: center;
   color: white;
   background-color: black;
   padding: 20px
}
/*welcome..*/
h2 {
   padding-bottom: 60px;
   margin: 20px auto 20px auto;
   font-weight: normal;
}

p {
   padding: 10px;
   margin: 10px auto 10px auto;
   
}
 /*home aboou..*/
ul{
   padding: 20px;
   border-top: 2px solid #000;
   border-bottom: 1px solid #000;
   text-align: center;
   background-color: white;
}
li {
   display: inline;
   margin: 10px;
   align: center;
}

blockquote {
   clip: rect(auto,auto,auto,auto);
   margin-left: 4%;
   line-height: 150%;
   margin-right: 1%;
   padding-top: 5px;
   padding-bottom: 20px;
}
p.quote {
   padding-top: 50px;
   padding-bottom: 50px;
   background-image: url("../images/tree-medium.jpg");
   background-repeat: no-repeat;
   background-position: 95% 20%;
}

background-size {
    width: 50px;
    height: 50px;
}
p.bagel {
   border-top: 1px solid #665544;
   padding-bottom: 140px;
   border-bottom: 1px solid #665544;
}
p.circus {
   padding-bottom: 140px;
   border-bottom: 1px solid #665544;
}
a {
  color:blue; background:#B4B6BF;
  transition:color .2s ease-out, background 1s ease-in;
}
a:link {
    color: red;
    text-decoration: none;
}
a:hover {
    color: white; background-color: black;
}
img.medium {
   width: 250px;
   margin: 10px;
}
.img-circle {
    border-radius: 50%
}
img.align-left{
    float: left;
    margin-right: 10px;
}
img.align-right {
    float: right;
    margin-left: 10px;
}