html {
   font-family: sans-serif;
}
div.container {
    max-width: 800px;
    margin: 20px auto 20px auto;
}
    
header , section, footer, aside, nav, figure, figcaption {
   display: block;
  }

body {
   margin: 0px;
}
h1 {
   margin: 20px auto 20px auto;
   text-align: center;
   color: white;
   background-color: black;
   padding: 20px
}
/*welcome..*/
h2 {
   text-align: center;
   padding-bottom: 60px;
   margin: 20px auto 20px auto;
   font-weight: normal;
}

p {
   padding: 10px;
   margin: 10px auto 10px auto;
}
 /*home aboou..*/
ul{
   padding: 20px;
   margin: 50px auto 50px auto;
   border-top: 2px solid #000;
   border-bottom: 1px solid #000;
   text-align: center;
   background-color: white;
}
li {
   display: inline;
   margin: 10px;
   align: center;
 
}

p{
   margin-left: 20%;
}


blockquote {
   clip: rect(auto,auto,auto,auto);
   margin-left: 4%;
   line-height: 150%;
   margin-right: 1%;
   padding-top: 5px;
   padding-bottom: 20px;
}
body {
   background-image: url("../images/tree-large.jpg");
   background-repeat: no-repeat;
   background-position: 75% 80%;
}

img.medium {
   width: 250px;
   margin: 10px;
}