html {
   font-family: sans-serif;
}

body {
   margin: 75px;
}
h1 {
   margin: 10px auto 10px auto;
   text-align: center;
   color: white;
   background-color: black;
   width: 570px;
   padding: 20px
}

h2 {
   width: 1300px;
   padding-top: 50px;
   padding-bottom: 20px;
   margin: 10px auto 10px auto;
   background-color: white;
}

p {
   width: 1300px;
   padding: 10px;
   margin: 10px auto 10px auto;
   background-color: white;
}
 /*home aboou..*/
ul{
   width: 570px;
   padding: 20px;
   margin: 50px auto 50px auto;
   border-top: 2px solid #000;
   border-bottom: 1px solid #000;
   text-align: center;
   background-color: white;
}
li {
   display: inline;
   margin: 10px;
   align: center;
}
figure img {
   width: 250px;
   margin: 10px;
}