html {
   font-family: sans-serif;
}
div.container {
    max-width: 1100px;
    margin: 20px auto 20px auto;
}
    
div.wrapper {
    background-color: #fff;
    width: 100%;
}

div.header {
    width: 690px 167px;
}
div.welcome {
    box-sizing: border-box;
    float: left;
    max-width: 50%;
    min-height: 120px;
    max-height: 100px;
    padding-right: 30px;
}
p.intro {
    color: #aaa;
    font-size: 18px;
    display: block;
}
.links {
    font-size: 30px;
    font-weight: 400;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0px;
}
header.links{
    box-sizing: border-box;
    float: right;
    margin: 0px;
    max-width: 50%;
    padding-left: 30px;
}
ul.links{
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    float: right;
    margin-top: 0px
    max-width: 50px;
    padding-left: 30px;
} 
.links>li {
    display: inline-block;
    height: 30px;
    box-sizing: border-box;
    margin: 0px;
    padding-left: 30px;
    width: 49%;
    colour: #111;    
}  
  
body {
   margin: 0px;
   background: white;
}

h1 {
   margin: 0px auto 0px auto;
   text-align: left;
   color: red;
   padding: 20px
   font-size: 30px;
}
/*welcome..*/

p {
   padding: 10px;
   margin: 10px auto 10px auto;
}

li {
   display: inline-block;
   margin: 10px;
   align: center;
}

blockquote {
   clip: rect(auto,auto,auto,auto);
   margin-left: 4%;
   margin-right: 1%;
   padding-top: 0px;
   padding-bottom: 20px;
}
img.tree-align-left {
   padding-top: 25px;
   padding-left: 50px;
}


p.quote {
   padding-top: 20px;
   padding-bottom: 50px;
}

p.bagel {
   border-top: 1px solid #665544;
   padding-bottom: 160px;
   border-bottom: 1px solid #665544;
}
p.circus {
   padding-bottom: 160px;
   border-bottom: 1px solid #665544;
}
a {
  color:red; background:white;
  transition:color .2s ease-out, background 1s ease-in;
}
a:link {
    color: red;
    text-decoration: none;
}
p.about {
    background-color:#e1e3e4;
}
a:hover {
    color: #aaa; 
}
img.medium {
   width: 250px;
   margin: 10px;
}
.img-circle {
    border-radius: 50%
}
img.align-left{
    float: left;
    margin-right: 10px;
}
img.align-right {
    float: right;
    margin-left: 10px;
}